@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    height: 70px;
    padding: 15px;
  }
  
  .header__left {
    display: flex;
    align-items: center;
  }
  
  .header__left img {
    width: 100px;
    margin-left: 15px;
  }